Management-Server/bin/**/*
Management-Server/build/**/*
Client/build/**/*
Server/build/**/*
Server/data/eco/bot_offers.json
File-Server/build/**/*
**/.idea/workspace.xml
**/.idea/tasks.xml
Server/**/*.class
CompiledServer/**/*
Server/gradle/
Server/.gradle/
Client/gradle/
Client/.gradle/
Client/.settings/
Management-Server/.gradle
Management-Server/build/
Management-Server/org/
Server/data/eco/grand_exchange_db.emp
Single-Player/**/*
docker
.gradle
gradle
.idea
.idea/
Server/worldprops/
Management-Server/managementprops/
Website/**/*
Website/
Launcher/**/*
Launcher/
.DS_Store
.settings/**/*
.settings/
.vscode/**/*
.vscode/
.classpath
